{% extends 'blog/base_blog.html' %}

{% block title %}
  {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
  <h1 class="mt-5">
    {{ post.title }}
  </h1>
  <p>
    {{ post.body }}
  </p>

  <!-- <p>
    self slug -
    {{ post.slug }}
  </p> -->
  <!-- <p>
    tag
    {{ post.tags.first }}
    {{ post.tags.values }}
  </p> -->

    <!-- {% for tag in tags %}
    <h3>{{ tag.id }}</h3>
    <h3>{{ tag.title }}</h3>
    <h3>{{ tag.slug }}</h3>
    <h3>{{ tag.posts }}</h3>
    {% endfor %} -->

{% endblock %}
